<script type="text/html" id="logOutTemplate">
    <![CDATA[
        <span>Welcome <%= this.name %></span>
        <button id="btn_logOut" class="button" type="button">Log out</button>
    ]]>
</script>